body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #202020;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #252525;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2, h1 {
    color: #3FC6FF;
}

p {
	color: white;
}

a {
    color: #58A6CB;
    text-decoration: none;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #202020;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}


.compact {
    margin: 5px 0;
}


.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}

.image-item {
    text-align: center;
	flex-direction: column;
    align-items: center;
    max-width: 150px;
}

.image-item img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 8px;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);*/
}

.image-item p {
    margin-top: 10px;
    font-size: 14px; 
    color: white;
}


.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.galeriaImagenes img {
	width: auto;
    height: 150px;
    object-fit: contain;
    border-radius: 1px;
    max-width: 300px;
}















